html {
    height: 100%;

    body {
        background-image: url("../../static/assets/img/modes/background/QuizBackground.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        margin: 0px;
        background-position: 50% 50%;
    }
}
