* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../../static/assets/img/modes/background/QuizBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0px;
  background-position: 50% 50%;
}

.invisible {
  display: none;
}
