@import 'partials/mixins';

#box {
    @include BoxContent {
        box-shadow: 0;
        padding: 0 20px;
        border-radius: 5px;
        font-size: 2.5vh;
        font-weight: 600;
        box-shadow: 0 0 1em red;
        font-family: 'Montserrat', sans-serif;

    }

    width: 100%;
    height: 6vh;
    line-height: 6vh;
    background: #ffffff;
    text-align: center;
    grid-area: box;

    @media(min-width:750px) {
        border-radius: 10px;
    }

    @media (orientation:landscape) {
        height: 10vh;
        line-height: 10vh;
        font-size: 3.5vh;

    }

}