.logo {
  grid-area: logo;
  width: 100%;
  text-align: center;
  align-self: center;
  grid-area: logo;

  & img {
    width: 50%;

    @media (orientation:landscape) {
      width: 100%;

    }
  }
}