@import './partials/variables';

#picture {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 4px 4px $black-shadow, 4px 4px 40px $red-background;

    grid-area: picture;

    @media (min-width:750px) {
        border-radius: 10px;
    }

    @media (orientation:landscape) {
        grid-area: picture;
        align-self: center;
        justify-self: center;
        width: 100%;
        height: 65vh;
        margin-top: 7vh;

    }
}

.quiz__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}