@import './partials/variables';

#picture {
    display: grid;
    width: 100%;
    grid-area: picture;
    justify-content: center;
    justify-self: center;
    

    @media (min-width:750px) {
        border-radius: 10px;
    }
    @media (max-width:1000px) {
        border-radius: 10px;
        height: auto;
        width: 80%;
    }
}

.quiz__picture {
    max-width: 100%;
    max-height: 55vh;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0px 4px 4px $black-shadow, 4px 4px 40px $red-background;
    align-self: center;
}
