#swquiz-app {
  width: 100%;
  height: 100vh;
  display: grid;
  column-gap: 1vw;
  row-gap: 2vh;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 2fr 2fr 1fr 7fr 1fr 1fr;
  grid-template-areas:
    "logo logo"
    "main main"
    "box box"
    "picture rules"
    "play play"
    "whiteb whiteb";

  padding: 3%;


  @media(orientation:landscape) {
    display: grid;
    justify-items: center;
    column-gap: 1vw;
    row-gap: 5vh;
    grid-template-columns: 5fr 1fr 6fr 6fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "logo . main main"
      "logo . main main"
      "picture . box box"
      "picture . rules rules"
      "picture . rules rules"
      "picture . rules rules"
      "picture . whiteb play"
      ". . whiteb play"
  }
}