@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './partials/variables';

#button {
  width: 100%;
  grid-area: play;

  @media (orientation:landscape) {
    grid-area: play;
    height: 10vh;
    line-height: 10vh;

  }

  .play-button {
    display: block;
    width: 100%;
    padding: 0 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: font-weight(normal);
    font-size: 2.5vh;
    height: 6.5vh;
    line-height: 6.5vh;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    background-color: $red-background;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px $black-shadow, 0px 4px 30px $red-shadow;
    cursor: pointer;

    @media(min-width:750px) {
      border-radius: 10px;
    }

    @media (orientation:landscape) {
      width: 100%;
      height: 10vh;
      line-height: 10vh;
      justify-self: stretch;
      padding: 0;
      font-size: 3.5vh;
    }

    & span {
      display: block;
      width: 100%;
    }

    &:hover {
      background-color: $red-shadow;
    }
  }
}